.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: grey;
    z-index: 3;
    padding: 10px;
    width: 100%;
}
  
.menu {
    position: relative;
    color: white;
    z-index: 3;
    cursor: pointer;
}

.menu-icon-container {
    position: relative;
    transform: translateX(-10%);
    transition: transform 0.3s ease;
}
.menu.open .menu-icon-container {
    transform: rotate(90deg) translate(-10%,0);
}

.menu-panel {
    position: absolute;
    width: fit-content;
    background-color: #808080;
    z-index: 4;
    border-radius: 5px;
    transition: opacity 1s ease;
    display: none;
    box-shadow: 0 0 1px 1px #9b9b9b;
    margin-top: -15px;
}

.menu.open .menu-panel {
    display: block;
}

.menu-panel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-panel li {
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 2px;
    margin: 2px;
    z-index: 3;
    white-space: nowrap;
    border-radius: 5px;
    text-overflow: ellipsis;
}

.menu-panel li:hover {
    background-color:  rgb(70, 69, 69);
}

.user-text {
    color: white;
    font-size: 16px;
    margin: 10px;
}

.logged-out-text {
    margin-top: 75px;
}